@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
    var UserName = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
}

<div>
     <a asp-area="" asp-controller="Products" asp-action="GetProductList">Go to product page</a>
</div>
<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    @{
        <h3>  @UserName</h3>
    }
</div>
